*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
}

.first{
    position: absolute;
    bottom: 0; 
   
}