*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    background-color: #35424a;
    border-bottom: 2px solid coral;
}
.header{
    width: 70%;
    margin: 0 auto;
}
.header h1{
    color: #fff;
    padding: 15px;
    display: inline-block;
}
span{
    color: coral;
}
.header ul li{
    list-style-type: none;
    display: inline;
}
.header ul li a{
    text-decoration: none;
    color: white;
    padding: 22px;
    display: inline-block;
}
ul{
    float: right;
}
.header ul li .aaa{
    color: coral;
}
#rasm{
    background-image: url(../foto/pinokio.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}
.rasm{
    width: 70%;
    margin: auto;
}
.rasm h1{
    text-align: center;
    padding-top: 200px;
    color: #fff;
    font-size: 50px;
}
.rasm p{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
}
#search{
    background-color: #35424a;
}
.search{
    width: 70%;
    margin: auto;
}
.search h2{
    color: #fff;
    display: inline-block;
    padding: 20px 0;
}
.search form{
    float: right;
    padding: 20px;
}
.text{
    height: 30px;
}
.qnop{
    height: 31px;
    color: #fff;
    background-color: red;
    border: none;
    padding: 2px;
}
.icon{
    width: 70%;
    margin: auto;
    margin-top: 40px;
}
.icon .ot{
    text-align: center;
    float: left;
    width: 23.3%;
    margin-right:175px ;
}
.icon .shax{
    text-align: center;
    float: left;
    width: 23.3%;
    margin-right: 175px;
}
.icon .ferz{
    text-align: center;
    float: left;
    width: 23.3%;
}
.clr{
    clear: both;
}
#footer{
    background-color: rgb(252, 89, 30); 
}
.footer{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}
.footer p{
    color: #fff;
    text-align: center;
    padding: 30px;
}
img{
    width: 150px;
}






